:root {
    --primary-colour: #ff6600;
    --secondary-colour: #999999;
    --tertiary-colour: #333333;
    --box-background: #ff66002a;
}

body {
    padding: 72 48px;
}

h1 {
    color: var(--tertiary-colour);
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    width: 526px;
    text-align: left;
}

li {
    display: inline;
    color: #ff6600;
    font-family: Roboto;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
}

.label {
    display: inline;
    margin: 30px 0;
    background: var(--box-background);
    border-radius: 0 2px 2px 0;
    width: 106px;
    height: 20px;
}

.hotSale {
    background-color: #99999913;
    border-radius: 2px;
    width: 111px;
    height: 20px;
    color: var(--secondary-colour);
    font-family: Roboto;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
}

.price {
    color: #ff6600;
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}

.option {
    color: var(--secondary-colour);
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
}

.twooptions {
    color: var(--tertiary-colour);
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
}

.minOrder {
    color: var(--secondary-colour);
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
}

.pastPrice {
    color: var(--secondary-colour);
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
}

.reviews {
    color: var(--secondary-colour);
    font-family: Roboto;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
}

.buyers {
    color: var(--tertiary-colour);
    font-family: Roboto;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
}

.starsChecked {
    color: var(--primary-colour);
    font-family: Roboto;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
}


/* -- stars for review --*/

.starsChecked {
    color: var(--primary-colour);
}

.logo {
    width: 76px;
    height: 40px;
}

.freeShipping {
    color: var(--primary-colour);
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
}

.column {
    float: left;
    width: 33.33%;
}

.productOptions {
    width: 25%;
}

.ShippingCost {
    display: inline;
}

.quote {
    float: right;
    width: 25%;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    background-color: var(--box-background);
    width: 526px;
    height: 40px;
}


/* -- Image Col -- */

.droneImage {
    width: 416px;
    height: 416px;
}

.button {
    background-color: var(--primary-colour);
    border-radius: 20px;
    width: 258px;
    height: 40px;
}


/* -- quantity box -- */

.quantity {
    display: inline-block;
}

.quantity .input-text.qty {
    width: 35px;
    height: 39px;
    padding: 0 5px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #efefef;
}

.quantity.buttons_added {
    text-align: left;
    position: relative;
    white-space: nowrap;
    vertical-align: top;
}

.quantity.buttons_added input {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
    padding: 7px 10px 8px;
    height: 41px;
    background-color: #ffffff;
    border: 1px solid #efefef;
    cursor: pointer;
}

.quantity.buttons_added .minus {
    border-right: 0;
}

.quantity.buttons_added .plus {
    border-left: 0;
}

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
    background: #eeeeee;
}

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0;
}

.quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
    outline: none;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}