:root {
    --primary-colour: #ff6600;
    --secondary-colour: #999999;
    --tertiary-colour: #333333;
    --box-background: #ff66002a;
}

body {
    padding: 72 48px;
}

h1 {
    color: var(--tertiary-colour);
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    width: 526px;
    text-align: left;
}

li {
    display: inline;
    color: #ff6600;
    font-family: Roboto;
    line-height: 16px;
    text-align: left;
}

.banner {
    background-color: #ff660024;
    width: 526px;
    height: 40px;
    font-family: Roboto;
    font-size: 14px;
}

.dividers {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: inset 0 1px 0 0 #E6E7EB, inset 0 -1px 0 0 #E6E7EB;
    width: 526px;
    height: 64px;
    padding: 1px 0px 15px 0px;
}

.label {
    display: inline;
    font-family: Roboto;
    font-size: 12px;
}

.ReadyToShip,
.InStock,
.Dispatch {
    background: #ff660024;
}

.hotSale {
    background-color: #99999913;
    border-radius: 2px;
    width: 111px;
    height: 20px;
    color: var(--secondary-colour);
    font-family: Roboto;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
}

.price {
    color: #ff6600;
    font-family: Roboto;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}

.option {
    color: var(--secondary-colour);
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
}

.twooptions {
    color: var(--tertiary-colour);
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
}

.minOrder {
    color: var(--secondary-colour);
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
}

.pastPrice {
    color: var(--secondary-colour);
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
}

.reviews {
    color: var(--secondary-colour);
    font-family: Roboto;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
}

.buyers {
    color: var(--tertiary-colour);
    font-family: Roboto;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
}

.starsChecked {
    color: var(--primary-colour);
    font-family: Roboto;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
}


/* -- stars for review --*/

.starsChecked {
    color: var(--primary-colour);
    padding: 1px 0px 15px 0px;
}

.logo {
    width: 76px;
    height: 40px;
}

.freeShipping {
    color: var(--primary-colour);
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
}


/* -- colums of the page --*/

.column {
    float: left;
    width: 33.33%;
}

.quote {
    float: right;
    width: 25%;
}

.productOptions {
    width: 25%;
}

.options {
    color: var(--secondary-colour)
}

.ShippingCost {
    display: inline;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    background-color: var(--box-background);
    width: 526px;
    height: 40px;
}


/* -- Image Col -- */

.droneImage {
    width: 416px;
    height: 416px;
}

.button {
    background-color: var(--primary-colour);
    border-radius: 20px;
    width: 258px;
    height: 40px;
}

.footer,
.discountEnd,
.discountTimer {
    color: var(--secondary-colour);
}

.discount {
    color: var(--primary-colour);
    color: #FF6600;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}